---
---

@import "{{ site.theme }}";

section {
  padding: 30px;
}

footer {
  display: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }
}

p, ul {
  margin: 0 0 10px;
}

h3 {
  margin-bottom: 10px;
}

code {
  color: inherit;
  background: #eee;
  text-shadow: none;
}
