---
---

@import "{{ site.theme }}";

section {
  padding: 30px;
}

footer {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0;

  &:first-child {
    margin-top: 0;
  }
}

p,
ul {
  margin: 0 0 10px;
}

h3 {
  margin-bottom: 10px;
}

code {
  color: inherit;
  background: #eee;
  text-shadow: none;
}

img[alt="Wenchen Li (Neo)'s DEV Profile"] {
  vertical-align: middle;
}

@media print {
  body {
    padding: unset;
    background: unset;
  }

  body::after {
    content: "This is a printed/generated version of https://neo.github.io/resume/";
    display: block;
    margin-top: 40px;
    text-align: center;
    border-top: solid 1pt;
    font-size: 0.75em;
  }

  header,
  section {
    background: unset;
    box-shadow: unset;
  }

  header h1 {
    color: unset;
    text-shadow: unset;
    border-bottom: solid 1pt;
  }

  section {
    padding: unset;
    border-style: unset;
  }

  ul {
    list-style-image: unset;
  }

  a[href]::after {
    content: " (" attr(href) ")";
    font-size: 0.75em;
  }

  h1 {
    margin-bottom: 10px;
  }

  h3 {
    margin: 10px 0 5px;
  }
}
