---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
    <style is:inline>
      @media (prefers-color-scheme: dark) {
        body {
          background-color: #111;
        }
      }
    </style>
  </head>
  <body>
    <img src="favicon.svg" width="160" />
  </body>
</html>
